body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #e3dac1;
  font-family: Times;
  font-size: 16px;
  background-image: url(https://i.pinimg.com/564x/e8/59/17/e8591747b950325913297dddee99efa7.jpg);
  background-size: cover;
}

h1{
  margin-top: 1em;
  text-align: center;
  color: #4a2513;
  font-style: bold;
}

#description{
  margin-bottom: 5em;
  text-align: center;
  color: #4a2513;
  font-style: bold;
}

header {
  background-color: rgba(74, 37, 19, 0.30);
  }

.whole {
  width: 80%;
  background-color: #4a2513;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #301609;
  border: 1px solid #301609;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

span {
  font-size: 12px
}